@use 'global' as *;

.btn {
    display: inline-block;
    width: 100%;
    font-size: rem(20);
    font-weight: $bold;
    line-height: calc(24 / 20);
    letter-spacing: 0.2em;
    font-family: $second-font-family;
    color: $white;
    background-color: $orange3;
    border-radius: rem(5);
    padding: rem(10) rem(20);
    text-align: center;
    @include mq() {
        font-size: rem(22);
        padding: rem(15) rem(20);
    }
}

.btn:hover {
    opacity: 0.7;
}

.btn--reset {
    background-color: $gray4;
}