@use 'global' as *;

.detail-news {
    padding-top: rem(66);
    margin-bottom: rem(100);
    @include mq() {
        padding-top: rem(80);
        margin-bottom: rem(80);
    }
}

.detail-news__inner.inner {
    max-width: rem(900);
    @include mq() {
        max-width: rem(650);
        margin-right: auto;
        margin-left: auto;
    }
}

.detail-news__time {
    font-size: rem(16);
    letter-spacing: 0.04em;
    @include mq() {
    
    }
}

.detail-news__title {
    margin-top: rem(6);
    font-size: rem(24);
    line-height: calc(48 / 24);
    font-weight: $medium;
    letter-spacing: 0.2em;
    color: $black3;
    position: relative;
    @include mq() {
        font-size: rem(23);
    }
}

.detail-news__body {
    margin-top: rem(48);
    @include mq() {
        margin-top: rem(32);
    }
}

.detail-news__body figure {
    max-width: rem(900);
    margin-right: auto;
    margin-left: auto;
    @include mq() {
        max-width: rem(500);
    }
}

.detail-news__body figure img {
    margin-right: auto;
    margin-left: auto;
}

.detail-news__body h2 {
    margin-top: rem(32);
    margin-bottom: rem(12);
    font-size: rem(26);
    font-weight: $medium;
    letter-spacing: 0.05em;
    padding-left: rem(16);
    border-left: 2px solid $orange3;
    @include mq() {
        font-size: rem(21);
    }
}

.detail-news__body h3 {
    margin-top: rem(32);
    margin-bottom: rem(12);
    font-size: rem(22);
    font-weight: $medium;
    letter-spacing: 0.05em;
    padding-left: rem(8);
    padding-bottom: rem(10);
    border-bottom: 2px solid $gray7;
    position: relative;
    @include mq() {
        font-size: rem(20);
    }
}

.detail-news__body h3::after {
    content: '';
    width: 40%;
    height: 2px;
    background-color: $orange3;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.detail-news__body>p {
    margin-bottom: rem(32);
    @include mq() {
        margin-top: rem(24);
    }
}

.detail-news__body p,
.detail-news__body li {
    font-size: rem(18);
    letter-spacing: 0.05em;
    @include mq() {
        font-size: rem(16);
    }
}

.detail-news__body .wp-block-list {
    list-style: revert-layer;
    padding-left: 1em;
}

.detail-news__body ul,
.detail-news__body ol {
    margin-top: rem(32);
    @include mq() {
        margin-top: rem(24);
    }
}

.detail-news__body>blockquote {
    margin-top: rem(32);
    background-color: $gray7;
    padding: rem(30) rem(20);
    border-radius: rem(5);
    font-size: rem(16);
    letter-spacing: 0.05em;
    @include mq() {
        padding: rem(24) rem(16);
        margin-top: rem(24);
        font-size: rem(15);
    }
}

.detail-news__pagination {
    margin: rem(48) auto 0;
    max-width: rem(400);
    display: flex;
    justify-content: space-between;
    @include mq() {
        
    }
}

.detail-news__pagination a {
    display: inline-block;
    padding-bottom: rem(10);
    //ドット
    background-image: radial-gradient(circle, $orange3 1.5px, transparent 1.5px);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 7px 3px;
}

.detail-news__btn {
    margin: rem(32) auto 0;
    max-width: rem(220);
    @include mq() {

    }
}

.detail-news__btn .btn {
    @include mq() {
        font-size: rem(22);
    }
}