@use 'global' as *;

.news {
    padding-top: rem(105);
    margin-bottom: rem(100);
    @include mq() {
        padding-top: rem(80);
        margin-bottom: rem(80);
    }
}

.news__body {
    max-width: rem(1000);
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    box-shadow: 0 0 5px rgba($color: $gray2, $alpha: 0.2);
    padding: rem(35) rem(20) rem(38) rem(50);
    border-radius: rem(10);
    @include mq() {
        padding: rem(40) rem(25) rem(40) rem(10);
        max-width: rem(650);
    }
}

.news__top {
    max-width: rem(813);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq() {
        align-items: end;
    }
}

.news__title {
    font-size: rem(24);
    line-height: calc(30 / 24);
    letter-spacing: 0.2em;
    color: $black3;
    position: relative;
    @include mq() {
        font-size: rem(21);
        padding-left: rem(58);
    }
}

.news__title span {
    display: inline-block;
    padding-left: rem(24);
    color: $gray1;
    font-size: rem(14);
    line-height: calc(32 / 14);
    letter-spacing: 0.2em;
    @include mq() {
        display: block;
        font-size: rem(12);
        padding-left: 0;
    }
}

.news__title::before {
    content: '';
    background: transparent url(../images/common/news-ico.webp) no-repeat center center / cover;
    width: rem(74);
    height: rem(50);
    position: absolute;
    top: 33%;
    left: rem(-86);
    transform: translateY(-50%);
    @include mq() {
        width: rem(50);
        height: rem(32);
        left: 0;
    }
}

.news__btn {
    transform: translateY(-11px);
    @include mq() {
        transform: translateY(0);
    }
}

.news__link {
    position: relative;
    text-decoration: underline;
    color: $blue;
    font-size: rem(15);
    font-weight: $demi-light;
    letter-spacing: 0.05em;
    @include mq() {
        font-size: rem(14);
        padding-right: rem(20);
    }
}

.news__link:hover {
    opacity: 0.7;
}

.news__link::before,
.news__link::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(-20);
    @include mq() {
        right: 0;
    }
}

.news__link::before {
    display: block;
    width: rem(15);
    height: rem(15);
    border-radius: 50%;
    background-color: $orange3;
    @include mq() {
        width: rem(14);
        height: rem(14);
    }
}

.news__link::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateX(-50%);
    right: rem(-15);
    width: rem(4);
    height: rem(4);
    border: 1px solid $white;
    border-left: 0;
    border-bottom: 0;
    @include mq() {
        right: rem(4);
    }
}

.news__items {
    max-width: rem(816);
    margin: rem(25) auto 0;
    @include mq() {
        padding-left: rem(15);
    }
}

.news__item {
    position: relative;
    @include mq() {
        padding-right: rem(20);
    }
}

.news__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-image: radial-gradient(circle, $gray5 0.5px, transparent 0.5px);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 4px 1px;
}

.news__item::after {
    content: '＞';
    color: $gray6;
    font-size: rem(20);
    position: absolute;
    top: 44%;
    right: 0;
    transform: translateY(-50%);
    @include mq() {
        font-size: rem(16);
    }
}

.news__item + .news__item {
    margin-top: rem(27);
}

.news__item a {
    display: flex;
    align-items: center;
    gap: rem(20);
    padding-top: rem(3);
    padding-bottom: rem(7);
    @include mq() {
        align-items: start;
        flex-direction: column;
        gap: rem(8);
    }
}

.news__item a:hover {
    opacity: 0.7;
}

.news__meta {

}

.news__time {
    font-size: rem(14);
    // line-height: calc(61 / 14);
}

.news__contents {

}

.news__txt {
    font-size: rem(14);
    // line-height: calc(61 / 14);
    color: $blue;
    font-weight: $demi-light;
    text-decoration: underline;
}

