@use 'global' as *;

.reason {
    margin-top: rem(97);
}

.reason__inner {

}

.inner {

}

.reason__top {
    text-align: center;
}

.fade-in {

}

.reason__title {
    color: $orange3;
    text-align: center;
    font-size: rem(30);
    line-height: calc(52 / 30);
    letter-spacing: 0.1em;
    position: relative;
    padding: 0 rem(124);
    display: inline-block;
    @include mq() {
        padding: 0 rem(54);
        font-size: rem(21);
        margin-bottom: rem(16);
    }
}

.reason__title::before,
.reason__title::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(113);
    width: 100%;
    aspect-ratio: 113/68;
    @include mq() {
        max-width: rem(80);
    }
}

.reason__title::before {
    background-image: url(../images/reason/1.webp);
    left: 0;
    @include mq() {
        left: rem(-20);
    }
}

.reason__title::after {
    background-image: url(../images/reason/2.webp);
    right: 0;
    @include mq() {
        right: rem(-20);
    }
}

.reason__body {
    margin-top: rem(97)
}

.reason__list {

}

.reason__item + .reason__item {
    margin-top: rem(202);
}

.reason__item {
    // max-width: rem(897);
    max-width: rem(966);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.reason__photo {
    position: absolute;
    top: rem(-10);
    // left: rem(-4);
    left: rem(30);
    z-index: 2;
    max-width: rem(403);
}

.reason__contents {
    width: calc(rem(596) / rem(897) * 100%);
    max-width: rem(596);
    padding: rem(61) rem(40) rem(15) rem(97);
    position: relative;
    aspect-ratio: 596 / 548;
    width: 100%;
    margin-left: auto;
    margin-right: rem(35);
}

.reason__contents::after {
    content: '';
    background: transparent url(../images/reason/bg.webp) no-repeat center center / cover;
    aspect-ratio: 596/548;
    max-width: rem(596);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reason__subTl {
    display: flex;
    gap: rem(61);
}

.reason__point {
    aspect-ratio: 244/100;
    max-width: rem(244);
}

.reason__h3 {
    font-size: rem(50);
    font-weight: $bold;
    font-family: $second-font-family;
    color: $orange3;
    position: relative;
    transform: translateY(-5%);
}

.reason__h3::before {
    content: '';
    background: transparent url(../images/reason/catch-bg.webp) no-repeat center center / cover;
    aspect-ratio: 163/156;
    max-width: rem(163);
    width: rem(163);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reason__catch {
    margin-top: rem(25);
    color: $main;
    font-size: rem(24);
    line-height: calc(42 / 24);
    display: inline-block;
    background:linear-gradient(transparent 62%, $yellow 62%, $yellow 82%, transparent 82%);
}

.reason__text {
    font-size: rem(18);
    font-weight: $regular;
    line-height: calc(32 / 18);
    margin-top: rem(20);
}

.reason__deco {
    position: absolute;
    bottom: -14%;
    left: 0;
    aspect-ratio: 352/239;
    max-width: rem(352);
}

.reason__item--reserve .reason__contents {
    margin-right: auto;
    margin-left: rem(35);
    padding: rem(61) rem(97) rem(15) rem(40);
}

.reason__item--reserve .reason__photo {
    right: rem(2);
    left: auto;
}

.reason__item--reserve .reason__deco {
    right: 0;
    left: auto;
    bottom: -8%;
}