@use 'global' as *;

.sub-company {
    background: url(../images/top/flow-bg.webp) center center / cover no-repeat;
    padding-bottom: rem(75);
    margin-top: rem(-46);
    padding-top: rem(121);
}

.sub-company__inner {

}

.inner {

}

.sub-company__body {
    max-width: rem(782);
    margin-right: 5.5%;
    margin-left: auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1139px) {
        margin-right: auto;
    }
}

.sub-company__contents {
    width: calc(rem(590) / rem(782) * 100%);
}

.sub-company__title {
    color: $main;
    font-size: rem(24);
    line-height: calc(42 / 24);
    letter-spacing: -0.04em;
    padding-left: rem(57);
    position: relative;
}

.sub-company__title::before {
    content: '';
    background: transparent url(../images/company/1.webp) no-repeat center center / cover;
    aspect-ratio: 32/68;
    width: 100%;
    max-width: rem(32);
    position: absolute;
    top: rem(11);
    left: 0;
}

.sub-company__txt {
    padding-left: rem(57);
    margin-top: rem(25);
    font-size: rem(18);
    letter-spacing: -0.04em;
    font-weight: $regular;
    line-height: calc(40 / 18);
}

.sub-company__img {
    aspect-ratio: 186/256;
    max-width: rem(186);
    width: calc(rem(186) / rem(782) * 100%);
}

