@use 'global' as *;

.top-flow {
    padding-top: rem(95);
    padding-bottom: rem(35);
    background: transparent url(../images/top/flow-bg.webp) no-repeat center center / cover;
}

.top-flow__inner.inner {
    max-width: 950px;
}

.top-flow__top {
    text-align: center;
}

.top-flow__title {
    color: $main;
    font-size: rem(30);
    line-height: calc(52 / 30);
    letter-spacing: 0.1em;
    margin-bottom: rem(20);
    position: relative;
    padding: 0 rem(134);
    display: inline-block;
}

.top-flow__title::before,
.top-flow__title::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(113);
    width: 100%;
    aspect-ratio: 113/68;
}

.top-flow__title::before {
    background-image: url(../images/top/4.webp);
    left: 0;
}

.top-flow__title::after {
    background-image: url(../images/top/5.webp);
    right: 0;
}

.top-flow__en {
    position: relative;
    text-transform: capitalize;
    padding-top: rem(20);
    color: $brown1;
    font-size: rem(20);
    letter-spacing: 0.05em;
    font-weight: $regular;
    line-height: calc(35 / 20);
}

.top-flow__en::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: rem(60);
    height: rem(3);
    background: -moz-linear-gradient(left, $orange7, $yellow2);
    background: -webkit-linear-gradient(left, $orange7, $yellow2);
    background: linear-gradient(to right, $orange7, $yellow2);
    border-radius: rem(1.5);
}

.top-flow__catch {
    margin-top: rem(75);
    text-align: center;
    font-size: rem(18);
    font-weight: $regular;
    line-height: calc(32 / 18);
}

.top-flow__body {
    margin-top: rem(58);
    max-width: rem(845);
    display: flex;
    gap: rem(60);
    align-items: center;
    @media screen and (max-width: 1399px) {
        margin-right: auto;
        margin-left: auto;
    }
}

.top-flow__contents {
    width: calc(rem(419) / rem(845) * 100%);
}

.top-flow__deco {
    max-width: rem(339);
}

.top-flow__btn {
    margin: rem(33) auto 0;
    max-width: rem(419);
}

.top-flow__img {
    max-width: rem(366);
}