@use 'global' as *;

.top-flow {
    padding-top: rem(91);
    padding-bottom: rem(37);
    background: transparent url(../images/top/flow-bg.webp) no-repeat center center / cover;
    @include mq() {
        padding-top: rem(70);
        padding-bottom: rem(60);
    }
}

.top-flow__inner.inner {
    max-width: 950px;
}

.top-flow__top {
    text-align: center;
}

.top-flow__title {
    color: $main;
    font-size: rem(30);
    line-height: calc(52 / 30);
    letter-spacing: 0.1em;
    margin-bottom: rem(8);
    position: relative;
    padding: 0 rem(134);
    display: inline-block;
    @include mq() {
        font-size: rem(21);
        padding: 0 rem(54);
        margin-bottom: rem(16);
    }
}

.top-flow__title::before,
.top-flow__title::after {
    content: '';
    position: absolute;
    top: 66%;
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(113);
    width: 100%;
    aspect-ratio: 113/68;
    @include mq() {
        max-width: rem(80);
    }
}

.top-flow__title::before {
    background-image: url(../images/top/4.webp);
    left: rem(9);
    @include mq() {
        left: rem(-10);
    }
}

.top-flow__title::after {
    background-image: url(../images/top/5.webp);
    right: 0;
    @include mq() {
        right: rem(-20);
    }
}

.top-flow__en {
    position: relative;
    text-transform: capitalize;
    padding-top: rem(13);
    color: $brown1;
    font-size: rem(20);
    letter-spacing: 0.05em;
    font-weight: $regular;
    line-height: calc(35 / 20);
    @include mq() {
        font-size: rem(14);
        padding-top: rem(22);
    }
}

.top-flow__en::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: rem(60);
    height: rem(3);
    background: -moz-linear-gradient(left, $yellow2, $orange7);
    background: -webkit-linear-gradient(left, $yellow2, $orange7);
    background: linear-gradient(to right, $yellow2, $orange7);
    border-radius: rem(1.5);
}

.top-flow__catch {
    margin-top: rem(58);
    text-align: center;
    font-size: rem(18);
    font-weight: $regular;
    line-height: calc(32 / 18);
    @include mq() {
        margin-top: rem(48);
        font-size: rem(16);
    }
}

.top-flow__body {
    margin-top: rem(52);
    max-width: rem(845);
    display: flex;
    gap: rem(60);
    align-items: center;
    margin-left: -2.5%;
    @media screen and (max-width: 1399px) {
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
    }
    @include mq() {
        margin-top: rem(48);
        gap: rem(54);
    }
}

.top-flow__contents {
    width: calc(rem(419) / rem(845) * 100%);
    margin-top: rem(-4);
    @include mq() {
        width: 100%;
    }
}

.top-flow__deco {
    max-width: rem(339);
    margin-right: auto;
    margin-left: auto;
    @include mq() {
        width: 80%;
    }
}

.top-flow__btn {
    margin: rem(33) auto 0;
    max-width: rem(419);
    @include mq() {
        margin-top: rem(24);
    }
}

.top-flow__img {
    max-width: rem(366);
}