@use 'global' as *;

.top-reason {
    padding-top: rem(105);
    padding-bottom: rem(106);
    background: transparent url(../images/top/reason-bg.webp) no-repeat center center / cover;
    @include mq() {
        padding-top: rem(60);
        padding-bottom: rem(90);
    }
}

.top-reason__inner.inner {
    max-width: rem(1200);
    @include mq() {
        max-width: rem(690);
    }
}

.top-reason__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq() {
        flex-direction: column;
    }
}

.top-reason__contents {
    margin-left: rem(113);
    max-width: rem(500);
    width: 48.1667%;
    margin-top: rem(-14);
    @include mq() {
        width: 100%;
        margin: 0;
        display: contents;
    }
}

.top-reason__top {
    padding-bottom: rem(40);
    margin-bottom: rem(30);
    position: relative;
    @include mq() {
        padding-bottom: rem(32);
        margin-bottom: rem(24);
        padding-top: rem(64);
        text-align: center;
    }
}

.top-reason__top::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: rem(65);
    height: rem(5);
    background: transparent url(../images/top/reason-line.webp) no-repeat center center / cover;
    @include mq() {
        width: rem(55);
        height: rem(3);
        left: 50%;
        transform: translateX(-50%);
    }
}

.top-reason__top::after {
    content: '';
    position: absolute;
    // top: 50%;
    top: rem(10);
    left: rem(-116);
    // transform: translateY(-50%);
    background: transparent url(../images/top/1.webp) no-repeat center center / cover;
    width: rem(113);
    height: rem(68);
    @include mq() {
        width: rem(100);
        height: rem(55);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.top-reason__title {
    font-size: rem(25);
    line-height: calc(40 / 25);
    color: $main;
    @include mq() {
        font-size: rem(21);
    }
}

.top-reason__subTl {
    font-size: rem(18);
    line-height: calc(40 / 18);
    color: $orange3;
    @include mq() {
        font-size: rem(16);
    }
}

.top-reason__txt {
    font-size: rem(18);
    font-weight: $regular;
    line-height: calc(32 / 18);
    @include mq() {
        font-size: rem(16);
        max-width: rem(550);
        margin-right: auto;
        margin-left: auto;
    }
}

.top-reason__btn {
    margin-top: rem(68);
    max-width: rem(419);
    margin-left: 1%;
    @include mq() {
        margin-top: rem(42);
        order: 1;
        margin-left: 0;
        width: 100%;
    }
}

.top-reason__img {
    aspect-ratio: 487/623;
    max-width: rem(487);
    // width: calc(rem(487) / rem(1200) * 100%);
    width: 42.583333%;
    @include mq() {
        width: 100%;
        order: 0;
        margin-top: rem(32);
    }
}