@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Kiwi Maru", serif;
$second-font-family: "fot-tsukuardgothic-std", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$demi-light: 200;
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #4D4D4D;
$black2: #000;
$black3: #333;
$black4: #1A1A1A;
$white: #fff;
$cream: #FFFEEE;
$main: #463232;
$brown1: #5F3C13;
$brown2: #4C4035;
$brown3: #492300;
$brown4: #251E1C;
$brown5: #8F765A;
$beige1: #EFEBE7;
$beige2: #FBF1E9;
$beige3: #AF9D89;
$beige4: #9F8A71;
$beige5: #FFFBF8;
$beige6: #7F6342;
$beige7: #F2EFE6;
$orange1: #D06C15;
$orange2: #FFA83F;
$orange3: #D16C15;
$orange4: #E8B58A;
$orange5: #F8E9DC;
$orange6: #FF963F;
$orange7: #FF753F;
$orange8: #DA8944;
$blue: #4682FF;
$blue2: #3759C1;
$blue3: #BDCCD4;
$gray1: #666;
$gray2: #020000;
$gray3: #070300;
$gray4: #999;
$gray5: #B3B3B3;
$gray6: #808080;
$gray7: #E6E6E6;
$red: #FF1D25;
$red2: #FF0000;
$shadow1: #773000;
$yellow: #FFFF00;
$yellow2: #FFCA3F;
$yellow3: #FFF880;
$yellow4: #FFC03F;


body {
  font-family: $base-font-family;
  color: $black;
  font-weight: $medium;
  background-color: $white;
}

body.js-open {
  height: 100%;
  overflow: hidden;
}

main {
  flex: 1;
}

.main-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}