@use 'global' as *;

.cta-btn {
    display: inline-block;
    width: 100%;
    color: $white;
    transition: all .3s ease 0s;
    cursor: pointer;
    border-radius: rem(15);
    border: 1px solid $white;
    box-shadow: 3px 3px rgba($color: $black3, $alpha: 0.3);
}

.cta-btn__contents {
    font-size: rem(24);
    font-weight: $bold;
    line-height: calc(31 / 24);
    font-family: $second-font-family;
    text-shadow: 1.7px 1.7px 0px rgba($color: $black2, $alpha: 0.3);
    //左のアイコン
    padding-left: rem(105);
    position: relative;
    @include mq() {
        font-size: rem(20);
        padding-left: rem(77);
    }
}

.cta-btn__contents::after {
    content: "";
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: rem(95);
    height: rem(95);
    box-shadow: -2px -2px 1px rgba($color: $black2, $alpha: 0.3);
    @include mq() {
        width: rem(68);
        height: rem(68);
    }
}

.cta-btn__contents::before {
    content: "";
    position: absolute;
    top: 50%;
    left: rem(10);
    transform: translateY(-50%);
    width: rem(72);
    height: rem(38);
    aspect-ratio: 72/38;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    @include mq() {
        max-width: rem(51);
        height: auto;
        width: 100%;
    }
}

.cta-btn__tel {
    font-size: rem(40);
    line-height: calc(31 / 40);
    letter-spacing: 0.03em;
    padding-top: rem(11);
    @include mq() {
        font-size: rem(32);
    }
}

.cta-btn__note {
    font-size: rem(22);
    line-height: calc(31 / 22);
    margin-top: rem(11);
    margin-left: rem(-10);
    @include mq() {
        font-size: rem(17);
    }
}

.cta-btn__note span {
    letter-spacing: 0.06em;
    @include mq() {
        letter-spacing: 0.03em;
    }
}

.cta-btn--tel {
    background: -moz-linear-gradient(45deg, $beige4, $brown1);
    background: -webkit-linear-gradient(45deg, $beige4, $brown1);
    background: linear-gradient(to right, $beige4, $brown1);
    padding: rem(14) rem(27) rem(15) rem(15);
    @include mq() {
        padding: rem(14) rem(9);
    }
}

.cta-btn--tel .cta-btn__contents::before {
    background-image: url(../images/cta/ico-tel.webp);
}

.cta-btn--mail {
    background: -moz-linear-gradient(45deg, $yellow4, $orange3);
    background: -webkit-linear-gradient(45deg, $yellow4, $orange3);
    background: linear-gradient(to right, $yellow4, $orange3);
    position: relative;
    padding: rem(24) rem(30) rem(24) rem(30);
    @include mq() {
        padding: rem(14) rem(15);
    }
}

.cta-btn--mail::after {
    content: '';
    position: absolute;
    right: rem(24);
    top: 50%;
    transform: translateY(-50%);
    background: transparent url(../images/cta/arrow.webp) no-repeat center center / cover;
    aspect-ratio: 19 / 21;
    width: 100%;
    max-width: rem(19);
    @include mq() {
        max-width: rem(15);
        right: rem(15);
    }
}

.cta-btn--mail .cta-btn__contents>span {
    display: inline-block;
    padding-left: rem(6);
    text-align: center;
    font-size: rem(34);
    font-weight: $bold;
    line-height: calc(48 / 34);
    letter-spacing: 0.05em;
    font-family: $second-font-family;
    text-shadow: 2px 2px 2px rgba($color: $black2, $alpha: 0.3);
    @include mq() {
        font-size: rem(28);
        padding-left: rem(0);
    }
}

.cta-btn--mail .cta-btn__contents::before {
    background-image: url(../images/cta/ico-mail.webp);
}