@use "global" as *;

.header {
    height: rem(100);
    box-shadow: 3px 3px 0 rgba($color: $shadow1, $alpha: 0.3);
    background-image: url(../images/common/head-bg.webp);
    position: relative;
    z-index: 2;
    @include mq() {
        border-width: 5px;
        height: rem(60);
        z-index: 999;
    }
}

//スクロールしたら透過用
.header.js-opacity {
    opacity: 1;
}

.header__inner {
    padding-right: 10px;
    height: inherit;
    @include mq() {
        padding-right: $padding-sp;
    }
}

.header__body {
    height: inherit;
    display: flex;
    // justify-content: space-between;
    gap: 2.3%;
    // gap: rem(41);
    // gap: 2.14vw;
    align-items: center;
}

.header__logo {
    max-width: rem(368);
    width: 17%;
    height: calc(rem(124) / rem(100) * 100%);
    box-shadow: 2px 2px 0 rgba($color: $brown3, $alpha: 0.5);
    background-color: $white;
    border-radius: 0 0 rem(20) 0;
    padding: rem(10) rem(20) rem(5);
    display: flex;
    align-items: center;
    @include mq() {
        height: rem(84);
        width: 50%;
        padding: rem(7) rem(12) rem(5);
        max-width: rem(210);
    }
}

.header__logo a {
    display: inline-block;
    max-width: rem(282);
    padding-top: rem(19);
    @include mq() {
        max-width: rem(175);
        padding-top: rem(13);
    }
}

.header__main {
    display: flex;
    align-items: center;
    height: inherit;
    // justify-content: end;
    width: 83%;
    // width: calc(rem(1560) / rem(1854) * 100%);
    @media screen and (max-width: 1775px) {
        justify-content: end;
    }
    @include mq() {
        display: none;
    }
}

.header__catch {
    color: $main;
    font-size: rem(17);
    line-height: calc(30 / 17);
    
    @media screen and (max-width: 1635px) {
        display: none;
    }
}

.header__pc-nav {
    // margin-left: rem(35);
    margin-left: 2.4%;
    // margin-left: 1.8vw;
    // width: 47.6%;
    @media screen and (max-width: 1635px) {
        margin-left: 0;
    }
    @include mq() {

    }
}

.header__tel {
    // display: none;
    // @include mq(xl) {
        // margin-left: rem(14);
        margin-left: 1%;
        // margin-left: 0.7vw;
        display: flex;
        align-items: center;
        gap: rem(9);
    // }
}

.header__tel>img {
    max-width: rem(75);
    width: 29%;
}

.header__contents {
    // text-align: right;

}

.header__number {
    color: $main;
    font-size: rem(23);
    line-height: calc(29 / 23);
    letter-spacing: 0.06em;
}

.header__copy {
    color: $main;
    font-size: rem(12);
    line-height: calc(23 / 12);
    letter-spacing: 0.06em;
}