@use 'global' as *;

.top-btn {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: $orange5;
    box-shadow: 5px 5px 5px rgba($color: $gray2, $alpha: 0.3);
    border: 2px solid $white;
    padding: rem(39) rem(20);
    border-radius: rem(10);
    transition: all .3s ease 0s;
    cursor: pointer;
    @include mq() {
        box-shadow: 3px 3px 3px rgba($color: $gray2, $alpha: 0.3);
        padding: rem(30) rem(10);
    }
}

.top-btn span {
    color: $orange3;
    font-size: rem(24);
    line-height: calc(34 / 24);
    // letter-spacing: 0.05em;
    letter-spacing: 0.09em;
    font-weight: $bold;
    font-family: $second-font-family;
    margin-left: rem(19);
}

// アイコン
.top-btn::before {
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-50%);
    width: rem(68);
    height: rem(68);
    background: transparent url(../images/top/btn4.webp) no-repeat center center / cover;
    top: 50%;
    left: rem(40);
    @include mq() {
        width: rem(54);
        height: rem(54);
        left: rem(20);
    }
}

// 矢印
.top-btn::after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    right: rem(26);
    transform: translateY(-50%);
    background: transparent url(../images/top/btn-arrow.webp) no-repeat center center / cover;
    width: rem(11);
    height: rem(11);

    @include mq() {

    }
}

//トップページ メニューボタン
.top-btn--menu {
    background-color: $beige1;
    border-radius: rem(58);
    padding: rem(22) rem(20);
}

.top-btn--menu span {
    color: $brown1;
}

.top-btn--menu::after {
    background-image: url(../images/common/nav-ico.webp);
}
.top-btn--menu::before {
    background-image: url(../images/top/btn1.webp);
}

//トップページ 流れボタン
.top-btn--flow span {
    padding-left: rem(27);
}

.top-btn--flow::before {
    left: rem(35);
    background-image: url(../images/top/btn2.webp);
}

//トップページ 会社ボタン
.top-btn--company {
    background-color: $beige1;
    border-radius: rem(58);
    padding: rem(39) rem(20);
}

.top-btn--company span {
    color: $brown1;
}

.top-btn--company::after {
    background-image: url(../images/common/nav-ico.webp);
}

.top-btn--company::before {
    background-image: url(../images/top/btn3.webp);
}