@use 'global' as *;

.wave-container {
    margin-top: -5vw;
    position: relative;
    height: 13%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    @include mq() {
        margin-top: -6vw;
    }
}